/*barra lateral*/
.sidebar {
    width: auto;
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    }
    .sidebar h2{
    text-align:center;
    margin-bottom:20px;
    }
    .sidebar ul{
    margin-bottom:15px;
    }
    .sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size:18px;
    display:block;
    padding:10px;
    border-radius: 5px;
    transition:background-color 0.03s;
    }
    .sidebar ul li a:hover{
    background-color: #575d6d;
    }
/* Estilos para la barra de búsqueda */
.sidebar .search-bar {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #2b2b2b;
    border-radius: 5px;
    display: flex;
}

.sidebar .search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    background-color: #444;
    color: #fff;
}

.sidebar .search-bar button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.sidebar h3 {
    color: #eee;
    padding: 0 15px;
    margin-bottom: 10px;
}

.sidebar .filter-group {
    padding: 0 15px;
    margin-bottom: 15px;
    color: #ddd;
}

.sidebar .filter-group label {
    display: block;
    margin-bottom: 5px;
}

.sidebar .filter-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #444;
    color: #fff;
}

.sidebar .filter-group input[type="text"],
.sidebar .filter-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #444;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sidebar .filter-group button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.sidebar .filter-group h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ccc;
}
.dashboard {
    display: flex
;
    width: 100%;
}