.container-pedido {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1c1c1c; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-ped {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container-ped {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container-ped {
        max-width: 540px;
    }
}

.card-ped {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #444;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body-ped {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title-ped {
    margin-bottom: 0.75rem;
}

.card-text-ped:last-child {
    margin-bottom: 0;
}

.header-title{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.header-title-ped {
    text-align: center;
    margin-bottom: 30px;
    color: #fff; /* Color de texto oscuro */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff; /* Color de texto gris oscuro */
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
}

.form-control:focus {
    border-color: #80bdff; /* Borde azul al enfocar */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra azul al enfocar */
}

.form-control[readonly] {
    background-color: #e9ecef; /* Fondo gris claro para el total */
}

.btn-primary {
    background-color: #000000; /* Azul primario de Bootstrap */
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

.alert-danger {
    margin-bottom: 20px;
}