<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Error Pages
    ErrorDocument 401 /errors/401.blade.php
    ErrorDocument 402 /errors/402.blade.php
    ErrorDocument 403 /errors/403.blade.php
    ErrorDocument 404 /errors/404.blade.php
    ErrorDocument 419 /errors/419.blade.php
    ErrorDocument 429 /errors/429.blade.php
    ErrorDocument 500 /errors/500.blade.php
    ErrorDocument 503 /errors/503.blade.php


</IfModule>
